@model Lab1.Models.ViewModels.MarkViewModel

@{
    ViewData["Title"] = "Mark";
}

<h2>Оценка</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Mark" id="form">
            <input asp-for="Mark.IdMark" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Criterion.CName" class="control-label">Название критерия</label><br>
                <select asp-for="Criterion.IdCrit" form="form" class="form-control">
                    @foreach (var crit in Model.Criterions)
                    {
                        <option value="@crit.IdCrit">@crit.CName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Mark.MName" class="control-label">Название оценки</label>
                <input asp-for="Mark.MName" class="form-control" />
                <span asp-validation-for="Mark.MName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
